body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  background-color: #222f3e;
}

#text {
  background-color: black;
  color: white;
  padding: 10px;
}

#game {
  max-width: 500px;
  max-height: 400px;
  background-color: #f8f9fa;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
}

button {
  background-color: #4caf50;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}


#controls {
  border: 1px black solid;
  padding: 5px;
}

#button1,
#button2,
#button3 {
  font-size: 16px;
}

#stats {
  border: 1px black solid;
  color: black;
  padding: 5px;
}

#monsterStats {
  display: none;
  border: 1px black solid;
  color: white;
  padding: 5px;
  background-color: red;
}

.stat {
  padding-right: 10px;
}